{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head> 
</head>
<body> 
<div style="height:800px;">
    <div>
        <a href="/about"><img class="align_right" src="what_arise_but.svg"></img></a>
        <a href="/how"><img class="align_right" src="what_do_but.svg"></img></a>
        <a href="/challenges"><img class="align_right" src="challenge_but.svg"></img></a>
        <a href="/awards"><img class="align_right" src="award_but.svg"></img></a>
        <a href="/info"><img class="align_right" src="info_but.svg"></img></a>
    </div>
    <div>
        <img src="home_img.png" style="position: absolute; left: 0; height: 800px;">
    </div>
</div>
</body>
{{ end }}