{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head> 
</head>
<body> 
<div style="height:800px;">
    <div>
        <a class="align_right" href="/about"><img src="what_arise_but.png"></img></a>
        <a class="align_right" href="/how"><img src="what_do_but.png"></img></a>
        <a class="align_right" href="/challenges"><img src="challenge_but.png"></img></a>
        <a class="align_right" href="/awards"><img src="award_but.png"></img></a>
        <a class="align_right" href="/info"><img src="info_but.png"></img></a>
    </div>
    <div>
        <img src="home_img.png" style="position: absolute; left: 0; height: 800px;">
    </div>
</div>
</body>
{{ end }}